<!-- templates/edit_opportunity.html -->
<h2>Edit Opportunity</h2>
<form method="POST">
  <label>Title</label>
  <input
    type="text"
    name="title"
    value="{{ opportunity.title }}"
    required
  /><br />

  <label>Description</label>
  <textarea name="description" required>{{ opportunity.description }}</textarea
  ><br />

  <label>Location</label>
  <input
    type="text"
    name="location"
    value="{{ opportunity.location }}"
    required
  /><br />

  <button type="submit">Update</button>
</form>
