<!DOCTYPE html>
<html>
  <head>
    <title>Opportunities</title>
  </head>
  <body>
    <h1>Community Connect</h1>
    <form method="GET" action="/">
      <input
        type="text"
        name="q"
        placeholder="Search by title/category"
        value="{{ request.args.get('q', '') }}"
      />
      <a href="{{ url_for('main.public_feed') }}">Explore Opportunities</a>
      {% if current_user.is_authenticated %}
  Logged in as {{ current_user.username }} | <a href="/logout">Logout</a>
      {% else %}
      <a href="/login">Login</a> | <a href="/register">Register</a>
      {% endif %}
      {% if current_user.is_authenticated %}
         <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        {% endif %}

      <select name="category">
        <option value="">All Categories</option>
        {% for cat in categories %}
          <option value="{{ cat }}" {% if request.args.get('category') == cat %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}
      </select>
      <button type="submit">Search</button>
    </form>

    <a href="/new">+ Post New Opportunity</a>
      {% for opp in opportunities %}
      <li>
        <strong>{{ opp.title }}</strong> ({{ opp.category }})<br />
        {{ opp.description }}<br />
        📍 {{ opp.location }}
      </li>
      {% else %}
      <li>No opportunities found.</li>
      {% endfor %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul>
        {% for category, msg in messages %}
          {% if category == 'error' %}
            <li style="color: red;">{{ msg }}</li>
          {% elif category == 'success' %}
            <li style="color: green;">{{ msg }}</li>
          {% else %}
            <li>{{ msg }}</li>
          {% endif %}
        {% endfor %}
        </ul>
        <div style="margin-top: 20px;">
          {% if pagination.pages > 1 %}
          <div>
            { % if pagination.has_prev %}
            <a href="{{ url_for('index', page=pagination.next_num, q=query, category=selected_category )}}">Next -></a>
          {% endif%}
          </div>
        </div>">
        <ul>
      {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated and current_user.role in ['admin', 'moderator'] %}
  <li><a href="{{ url_for('moderator.moderate_opportunities') }}">Moderate</a></li>
{% endif %}

  </body>
</html>
